<!DOCTYPE html>
<html lang="en">
<!-- index page displaying html content -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <header>
        <img src="logo.svg" alt="Logo" height="50%">
        <span>Employee Reviews</span>
        <div id="navbar">
            <%if(locals.empl){%>
                <a href="/">Home</a>
                <a href="/ratings">Ratings</a>
                <a href="/signout">Sign Out</a>
            <%} else {%>
                <a href="/signin">Sign In</a>
                <a href="/register">Register</a>
            <%}%>
        </div>
    </header>
    <main>
        <br>
        <h2>Admins</h2>
        <br>
        <div id="adminslist">
            <% for(var i=0;i<emp.length;i++){ %>
                <%if(emp[i].admin){%>
                    <div id="individual">
                        <i id="us" class="fas fa-user"></i>
                        <span id="name"><%= emp[i].name%></span>
                        <i id="env" class="fas fa-envelope"></i>
                        <span id="email"> <%= emp[i].email%></span>
                        <i id="un" class="fas fa-user-plus"></i>
                        <span id="username"><%= emp[i].username%></span>

                        
                        <%if(!(empl.username == emp[i].username) &&(empl.admin || empl.canvote) && (!((empl.liked).includes(emp[i].id)))){%>
                            <form action=<%="/?id="+emp[i].id%> method="post">
                                <div id="ratingsid" class="rate">
                                    <input type="radio" id=<%="id=1"+emp[i].id%> name="rate" value="5" />
                                    <label for=<%="id=1"+emp[i].id%> title="text">5 stars</label>
                                    <input type="radio" id=<%="id=2"+emp[i].id%> name="rate" value="4" />
                                    <label for=<%="id=2"+emp[i].id%> title="text">4 stars</label>
                                    <input type="radio" id=<%="id=3"+emp[i].id%> name="rate" value="3" />
                                    <label for=<%="id=3"+emp[i].id%> title="text">3 stars</label>
                                    <input type="radio" id=<%="id=4"+emp[i].id%> name="rate" value="2" />
                                    <label for=<%="id=4"+emp[i].id%> title="text">2 stars</label>
                                    <input type="radio" id=<%="id=5"+emp[i].id%> name="rate" value="1" />
                                    <label for=<%="id=5"+emp[i].id%> title="text">1 star</label>
                                    <button style="width: 20px; height: 20px; position: relative; left: 185px; top: 11px;" type="submit" class="btn btn-success">
                                        <i style="font-size: larger; position: relative; left: -4.5px; top: -1px;" class="far fa-check-square"></i>
                                    </button>
                                </div>
                            </form>
                            <a href="" style="color: white;"></a>
                        <%}%>
                    </div>
                <%}%>
            <%}%>
        </div>
        <br>
        <h2>Employees</h2>
        <br>
        <div id="adminslist">
            <% for(var i=0;i<emp.length;i++){ %>
                <%if(!emp[i].admin){%>
                    <div id="individual">
                        <i id="us" class="fas fa-user"></i>
                        <span id="name"><%= emp[i].name%></span>
                        <i id="env" class="fas fa-envelope"></i>
                        <span id="email"> <%= emp[i].email%></span>
                        <i id="un" class="fas fa-user-plus"></i>
                        <span id="username"><%= emp[i].username%></span>
                        <%if(empl.admin && !(empl.username == emp[i].username)){%>
                            <%if(!(emp[i].canvote)){%>
                                <a href=<%="/vote?id="+emp[i].id%>><i style="position: absolute; left: 340px; top: 36px; color: white;" class="fas fa-vote-yea"></i></a>
                            <%}%>
                            <a href=<%="/admin?id="+emp[i].id%>><i style="position: absolute; left: 390px; top: 36px; color: white;" class="fas fa-users-cog"></i></a>
                            
                        <%}%>
                        
                        <%if(!(empl.username == emp[i].username) &&(empl.admin || empl.canvote) && (!((empl.liked).includes(emp[i].id)))){%>
                            <form action=<%="/?id="+emp[i].id%> method="post">
                                <div id="ratingsid" class="rate">
                                    <input type="radio" id=<%="id=1"+emp[i].id%> name="rate" value="5" />
                                    <label for=<%="id=1"+emp[i].id%> title="text">5 stars</label>
                                    <input type="radio" id=<%="id=2"+emp[i].id%> name="rate" value="4" />
                                    <label for=<%="id=2"+emp[i].id%> title="text">4 stars</label>
                                    <input type="radio" id=<%="id=3"+emp[i].id%> name="rate" value="3" />
                                    <label for=<%="id=3"+emp[i].id%> title="text">3 stars</label>
                                    <input type="radio" id=<%="id=4"+emp[i].id%> name="rate" value="2" />
                                    <label for=<%="id=4"+emp[i].id%> title="text">2 stars</label>
                                    <input type="radio" id=<%="id=5"+emp[i].id%> name="rate" value="1" />
                                    <label for=<%="id=5"+emp[i].id%> title="text">1 star</label>
                                    <button style="width: 20px; height: 20px; position: relative; left: 185px; top: 11px;" type="submit" class="btn btn-success">
                                        <i style="font-size: larger; position: relative; left: -4.5px; top: -1px;" class="far fa-check-square"></i>
                                    </button>
                                    
                                </div>
                            </form>
                        <%}%>
                        <%if(empl.admin){%>
                            <a href=<%="/deleteemp?id="+emp[i].id%>><i style="position: absolute; left: 660px; top: 35px; color: red;" class="fas fa-user-minus"></i></a>
                        <%}%>
                    </div>
                <%}%>
            <%}%>
        </div>
    </main>
</body>
</body>

</html>